[flake8]
max-line-length = 120
ignore = E501,W503,E302,E303,W291,W292,W293,W391,E128,E126
exclude =
    .venv,
    venv,
    __pycache__,
    migrations,
    .git
per-file-ignores =
    scripts/*:E402